/* convenient-medical-tool/pages/loginPage/patientLogin/patientLogin.wxss */
.patient-login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 247, 210);
}
.patient-login-container {
  width: 86%;
}
.patient-login-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 80rpx;
}

.patient-login-name,
.patient-login-idcard,
.patient-login-phone {
  display: flex;
  margin: 20rpx 0;
  justify-content: center;
}

.patient-login-name-label,
.patient-login-idcard-label,
.patient-login-phone-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.patient-login-button {
  font-size: 20px;
  margin: 80rpx auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-login-button view button {
  margin: 0 10rpx;
}
