<!--components/doctorAppointmentPage/doctorAppointmentPage.wxml-->
<view class="doctor-appointment-page">
  <view class="doctor-info">
    <view class="avatar"></view>
    <view class="info">
      <view class="name">
        <text>{{name}}</text>
      </view>
      <view class="department-job">
        <text style="margin-right: 2vw;">{{department}}</text>
        <text>{{job}}</text>
      </view>
      <view class="hospital">
        <text>{{hospital}}</text>
      </view>
    </view>
  </view>
  <view class="appointment-container">
    <view class="date-choose">
      <view class="today-morning" data-period="am" data-date="{{date}}" bindtap="chooseDateAndPeriod">
        <text>上午</text>
        <text style="font-size: small;">{{date}}</text>
      </view>
      <view class="today-afternoon" data-period="pm" data-date="{{date}}" bindtap="chooseDateAndPeriod">
        <text>下午</text>
        <text style="font-size: small;">{{date}}</text>
      </view>
      <view class="tomorrow-morning" data-period="am" data-date="{{tomorrowDate}}" bindtap="chooseDateAndPeriod">
        <text>上午</text>
        <text style="font-size: small;">{{tomorrowDate}}</text>
      </view>
      <view class="tomorrow-afternoon" data-period="pm" data-date="{{tomorrowDate}}" bindtap="chooseDateAndPeriod">
        <text>下午</text>
        <text style="font-size: small;">{{tomorrowDate}}</text>
      </view>
    </view>
    <view class="period-picker">
      <view class="picker-title">
        <text style="font-size: medium;">预约时段</text>
      </view>
      <appointmentCard doctorId="{{doctorId}}" period="{{selectedPeriod}}" date="{{selectedDate}}" department="{{department}}"></appointmentCard>
    </view>
  </view>
</view>
